/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
    outline: 1px dotted black;
}
 */
/* Doodle Stage */
#stage {
/*   background: #ccc; */
  height: 400px;
  width: 600px;
}

/* SVG Elements */
/* Check-Check: Correct selectors? */
#big-heart,
#small-heart,
#c,
#o,
#first-f,
#second-f,
#first-e,
#second-e {
/*   fill: red; */
}

.letter {
/*   fill: green; */
}

#first-f,
#second-f {
  fill: #462F20;
}

#first-e,
#second-e {
  fill: #DD5F13;
}

#c,
#o {
  fill: #273331;
}







#g {
  fill: #507abd; */
}

#o1 {
   fill: #ED1A38;
}
#o2 {
   fill: #F9C213;
}

#lowg {
   fill: #507abd;
}

#hook {
   fill: #507abd;
}

#e {
   fill: #ED1A38;
}

#stack {
fill: #00AE4D;
}

#puff {
fill: gray;
}



